<h2>EMPLOYEES LIST</h2>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees; track employee.id) {
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstname }}</td>
        <td>{{ employee.lastname }}</td>
        <td>{{ employee.email }}</td>
      </tr>
    }
  </tbody>
</table>

<hr>

<h2>PRODUCT LIST</h2>
<table border="1">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track product.id) {
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.desc }}</td>
        <td>{{ product.price | currency:'PHP' }}</td>
      </tr>
    }
  </tbody>
</table>

<router-outlet />
